# ===============================
# Ignore raw UIDAI source data
# ===============================
data/

# ===============================
# Python cache / temporary files
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# OS / editor junk files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Virtual environments (if any)
# ===============================
venv/
.env
